<template>
  <li class="nav-item dropdown">
      <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="glyphicon glyphicon-globe"></i>
          Notifications <span class="badge badge-danger">{{ notifications.length }}</span> <span class="caret"></span>
      </a>

      <ul class="dropdown-menu" role="menu">
        <li v-for="notification in notifications">
          <a href="#" @click="markAsRead(notification)">
            Alguien comentó en tu post: <br>
            {{ notification.data.post.title }}
            <hr>
          </a>
        </li>
        <li v-if="notifications.length == 0">
          No hay notificaciones que mostrar
        </li>
      </ul>
  </li>
</template>

<script>
    export default {
        props: ['notifications'],

        methods: {
          markAsRead(notification) {
            let data = {
              id: notification.id
            };

            axios.post('notification/read', data).then(response => {
              window.location.href = "post/" + notification.data.post.id;
            });
          }
        }
    }
</script>
